#!/usr/bin/env bash
export PATH=$PATH:/opt
export PATH=$PATH:/opt/homebrew/bin
export PATH=$PATH:"$(python3 -m site --user-base)/bin"
export PATH=$PATH:"/opt/homebrew/opt/openssl@1.1/bin" # https://github.com/psycopg/psycopg2/issues/1200#issuecomment-776159466

# Make micro the default editor.
export EDITOR='micro';

# oh-my-zsh
export ZSH="$HOME/.oh-my-zsh"
export ZSH_THEME="powerlevel10k/powerlevel10k"

# nvm
export NVM_DIR="$HOME/.nvm"

# https://github.com/psycopg/psycopg2/issues/1200#issuecomment-776159466
export LDFLAGS="-L/opt/homebrew/opt/openssl@1.1/lib"
export CPPFLAGS="-I/opt/homebrew/opt/openssl@1.1/include"
export PKG_CONFIG_PATH="/opt/homebrew/opt/openssl@1.1/lib/pkgconfig"

# set java version (see available versions: /usr/libexec/java_home -V)
export JAVA_HOME=`/usr/libexec/java_home -v 15.0.2`