#!/usr/bin/env bash

export PATH=$PATH:/opt
export PATH=$PATH:/opt/homebrew/bin

# Make micro the default editor.
export EDITOR='micro';

# oh-my-zsh
export ZSH="$HOME/.oh-my-zsh"
export ZSH_THEME="powerlevel10k/powerlevel10k"

# nvm
export NVM_DIR="$HOME/.nvm"